In [10]:
#order of execution....always...NOT AND OR
True and False or not True

False

TUPLES
They are immutable.we can't change tuples..we cannot append or delete elements from a tuples

In [1]:
x=(40,41,42)
x

(40, 41, 42)

In [2]:
#we can assign multiple value to a single varibale.it is assigned as a tuple.
y=50,51,52
y

(50, 51, 52)

In [5]:
#tuple assignment
a,b,c=10,20,30
c

30

In [8]:
#tuple is indexable..
print(x[0])
print(x[1])
print(x[2])
print(y[1])

40
41
42
51

In [12]:
#list of tuples
list1=[x]
print(list1)
list2=[x,y]
print(list2)

[(40, 41, 42)]
[(40, 41, 42), (50, 51, 52)]

In [13]:
(age,year_of_school)="30,17".split(',')
print(age)
print(year_of_school)

30
17

In [15]:
#we can return value from function as tuple.
def square(x):
    area=x**2
    p=4*x
    print("Area and perimeter:")
    return area,p  
square(5)

Area and perimeter:

(25, 20)

In [22]:
#tuple methods
#tuple only support these two methods.
tuple1=(10,20,30,40,50,60,70,20)
print(tuple1.count(20))
print(tuple1.index(10))
print(tuple1.index(20,2))
#index.(item,start,end)

2
0
7

In [23]:
#tuple unpacking
tuple2=(10,20,30)
x,y,z=tuple2
print(x)
print(y)
print(z)

10
20
30